<section class="main">
    <div class="top">
        <div class="box1">
            <div class="quote-headline">
                <img src="{{quoteImage}}" alt="" class="quote-mark">
                <span>"It surpassed our expectations"</span>
            </div>
            <div class="quote">
                <p>
                    <q>Filed has completely surpassed our expectations. I will refer everyone I know. Filed is worth
                        much
                        more than I paid.
                    </q>
                </p>
            </div>
            <div class="speaker">
                <div class="speaker-image-div">
                    <img src="https://images.pexels.com/photos/2661255/pexels-photo-2661255.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        alt="" class="speaker-img">
                </div>
                <div class="speaker-info">
                    <div class="speaker-name">
                        <span>Tania Y.</span>
                    </div>
                    <div class="speaker-contact">
                        <span>Flexi Content @Hello</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box2">
            <div class="quote-headline">
                <img src="{{quoteImage}}" alt="" class="quote-mark">
                <span>"It surpassed our expectations"</span>
            </div>
            <div class="quote">
                <p>
                    <q>Filed has completely surpassed our expectations. I will refer everyone I know. Filed is worth
                        much
                        more than I paid.
                    </q>
                </p>
            </div>
            <div class="speaker">
                <div class="speaker-image-div">
                    <img src="https://images.pexels.com/photos/2661255/pexels-photo-2661255.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        alt="" class="speaker-img">
                </div>
                <div class="speaker-info">
                    <div class="speaker-name">
                        <span>Tania Y.</span>
                    </div>
                    <div class="speaker-contact">
                        <span>Flexi Content @Hello</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box3">
            <div class="quote-headline">
                <img src="{{quoteImage}}" alt="" class="quote-mark">
                <span>"It surpassed our expectations"</span>
            </div>
            <div class="quote">
                <p>
                    <q>Filed has completely surpassed our expectations. I will refer everyone I know. Filed is worth
                        much
                        more than I paid.
                    </q>
                </p>
            </div>
            <div class="speaker">
                <div class="speaker-image-div">
                    <img src="https://images.pexels.com/photos/2661255/pexels-photo-2661255.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                        alt="" class="speaker-img">
                </div>
                <div class="speaker-info">
                    <div class="speaker-name">
                        <span>Tania Y.</span>
                    </div>
                    <div class="speaker-contact">
                        <span>Flexi Content @Hello</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="left">
            <p class="copy">Copyright © 2020. All Rights Reserved.</p>
        </div>

        <div class="right">
            <nav>
                <a href="">HOME</a>
                <a href="">FEATURES</a>
                <a href="">TERMS</a>
                <a href="">PRIVACY</a>
                <a href="">CONTACT US</a>
            </nav>

            <div class="">
                <img src="{{fbIcon}}" alt="" class="fb-icon">
                <img src="{{igIcon}}" alt="" class="ig-icon">
                <img src="{{twitterIcon}}" alt="" class="twitter-icon">
            </div>

        </div>
    </div>
</section>